<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">05350119</a>

                <partial name="_MenuPartial.cshtml" />
				<partial name="_UserPartial.cshtml" />
			</div>
		</nav>
	</header>
	<main>
		<div>
			@RenderBody()
		</div>
	</main>
	<footer>
		<nav class="navbar navbar-expand-lg navbar-dark">
			<div class="container-fluid">
				<div class="navbar-nav ml-sm-auto">
					<a class="nav-item nav-link" href="http://www.facebook.com">
						<i class="fa-brands fa-facebook-f fa-2x"></i>
					</a>
					<a class="nav-item nav-link" href="http://www.vk.com">
						<i class="fa-brands fa-vk fa-2x"></i>
					</a>
					<a class="nav-item nav-link" href="http://www.twitter.com">
						<i class="fa-brands fa-twitter fa-2x"></i>
					</a>
				</div>
			</div>
		</nav>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<!-- <script async src="Scripts.js"></script> -->
</body>
</html>
